body {
    overflow-x: hidden;
}

#title-video {
    /* width: 100%; */
    /* height: 100%;  */
    position: absolute;
    right: -15%;
    bottom: 0;
    min-width: 130%;
    min-height: 130%;
    filter: brightness(0.6);
}

#title {
    font-family: 'Playfair Display', serif;
    /* font-family: "Patrick Hand", cursive; */
    font-size: 50px;
    position: relative;
    text-align: center;
    margin-top: 200px;
    color: white;
}

#subtitle {
    /* font-family:'Courier New', Courier, monospace; */
    font-family: "Patrick Hand", cursive;

    color: white;
    font-size: 28px;
    position: relative;
    text-align: center;
    top: 16px;
}
  
#author-tag {
    /* font-family:'Courier New', Courier, monospace; */
    font-family: "Patrick Hand", cursive;

    color: white;
    font-size: 19px;
    position: relative;
    text-align: center;
    top: 27px;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    /* color: #fff; */
    display: block;
    font-family: "Patrick Hand", cursive;
    color: black;
    /* font-family: monospace; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /* letter-spacing: .15em; Adjust as needed */
    animation: 
    typing calc(1s) steps(30, end),
    blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

#title-shadow {
    position: absolute;
    margin-top: 133px;
    left: -15px;
    content: "";
    display: block;
    width: 105%;
    height: 40%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, rgba(255, 255, 255, 0.852) 40%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

#intro-section {
    position: relative;
    display: block;
    margin-top: 260px;
    margin-bottom: 150px;
}

#dotted-line {
    width: 100%;
    height: 300%;
    /* left: 40vw; */
    position: relative;
    transform: scaleX(-1);
}

.intro-text {
    font-family: "Patrick Hand", cursive;
    color: black;
    font-size: 24px;
    width: 25vw;
    left: 18vw;
}

#search-new-haven {
    top: 110px;
    position: absolute;
}

#search-text {
    width: 135px;
    font-size: 35px;
    font-family: "Patrick Hand", cursive;
    color: black;
}

#step-one {
    /* width: 30vw; */
    top: 290px;
    /* left: 18vw; */
    height: 100px;
    position: absolute;
}

#map-zoom-in {
    position: absolute;
    left: 23vw;
    top: -90px;
}

#step-two {
    /* width: 30vw; */
    top: 420px;
    /* left: 18vw; */
    height: 100px;
    position: absolute;
}

#step-three {
    /* width: 30vw; */
    top: 500px;
    left: 13vw;
    height: 200px;
    position: absolute;
}

#green-overlay {
    position: absolute;
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 10vh;
    text-align: center;
    left: 18vw;
    z-index: 1;
    width: 40vw;
    top: 240px;
}

#green-flavor {
    font-family: "Patrick Hand", cursive;
    color: white;
    font-size: 27px;
    height: 50px;
    position: absolute;
    top: 1000px;
    left: 20vw;
    z-index: 2;
}

#step-four {
    width: 30vw;
    top: 1200px;
    left: 50vw;
    height: 200px;
    position: absolute;
    text-align: right;
}

#step-five {
    width: 30vw;
    top: 1400px;
    left: 50vw;
    height: 200px;
    position: absolute;
    text-align: right;
}

#step-six {
    width: 30vw;
    top: 1710px;
    left: 33vw;
    height: 200px;
    position: absolute;
    text-align: center;
}


#new-haven-green {
    position: absolute;
    align-self: center;
}

#sticky-container {
    position: relative;
    /* height: 1800px; */
}

#choice {
    /* font-family: 'Playfair Display', serif; */
    font-family: "Patrick Hand", cursive;
    color: black;
    font-size: 6vh;
    /* text-align: center; */
    /* top: 2440px; */
    margin-left: 10vw;
    top: 10px;
    /* left: 10vw; */
    position: sticky;
    z-index: 1;
}

#return-button {
    position: fixed !important; 
    font-family: "Patrick Hand", cursive;
    color: rgb(40, 40, 40, 0.7);
    font-weight: 300;
    font-size: 4vh;
    top: 40px;
    left: 90vw;
    border-radius: 1px;
    border-style: solid;
    padding: 5px;
    z-index: 10;
}

#return-button:hover {
    font-weight: 900;
    color: black;
}

#g-Final-Project-Map-box {
    width: 60%;
    height: 60%;
    margin-left: 40vw;
    top: 0px;
    position: sticky;
}
.animate-246a {
    animation: myMove-246a 2s forwards; /* Define the animation */
}
@keyframes myMove-246a {
    from {width: 60%; margin-left: 40vw;}
    to {width: 110%; margin-left: 37vw; top: 0px;}
}

.animate-206 {
    animation: myMove-206 2s forwards; /* Define the animation */
}
@keyframes myMove-206 {
    from {width: 60%; margin-left: 40vw;}
    to {width: 80%; margin-left: 35vw; top: -220px;}
}

.animate-back-img {
    animation: back-img 2s forwards;
}
@keyframes back-img {
    from {opacity: 0}
    to {opacity: 1;}
}

/* .animate-map-shadow {
    animation: map-shadow 2s forwards;
} */

#Transit_Lines, #line_246a, #line_206 {
    z-index: 4;
}

#line_246a:hover, #line_206:hover {
    stroke-width: 20;
}

.g-pstyle1:hover, .g-pstyle2:hover {
    font-size: 60;
    font-weight: 700;
}


#map-shadow {
    position: fixed !important;
    pointer-events: none;
    top: -235px; 
    left: 35vw;
    /* content: ""; */
    /* display: block; */
    width: 100%;
    height: 1000px;
    opacity: 0;
    /* height: auto; */
    /* z-index: 2; */
    background-image: radial-gradient(circle at 60% 90%, rgba(255, 255, 255, 0) 53%, rgba(255, 255, 255, 1) 70%);
}

#annotation {
    /* top: 0px; */
    top: 110px;
    position: sticky;
    font-family: "Patrick Hand", cursive;
    font-size: 21px;
    color: black;
    margin-left: 10vw;
    height: 100px;
    width: 40vw;
    z-index: 10;
    /* margin-bottom: 500px; */
}

/* #images-sticky-container {
    position: sticky;
    top: 230px;
    margin-left: 10vw;
    width: 40vw;
    /* height: 2000px; */
/* } */

.stack {
    position: fixed !important;
    top: 250px;
    left: 10vw;
    border:rgba(0, 0, 0, 1);
    border-radius: 1px;
    border-style: solid;
    width: 40%; 
    /* height: 40%; */
    /* height: 100vh; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
  }

#new-haven-green-video-246a {
    transform: rotate(0deg);
    transform-origin: center center;
}

#forest-246a {
    transform: rotate(5deg);
    transform-origin: center center;
    z-index: 1;
}

#cat-cafe-246a {
    transform: rotate(-5deg);
    transform-origin: center center;
    z-index: 2;
}

#anti-discrimination-246a {
    transform: rotate(0deg);
    transform-origin: center center;
    z-index: 3;
}

#amity-246a {
    transform: rotate(-5deg);
    transform-origin: center center;
    z-index: 4;
}

#store-246a {
    transform: rotate(5deg);
    transform-origin: center center;
    z-index: 5;
    width: 20%;
    margin-left: 7vw;
    top: 210px;
}

#wooster-206 {
    transform: rotate(0deg);
    transform-origin: center center;
    z-index: 0;
    /* width: 20%; */
}

#industrial-decay-206 {
    transform: rotate(5deg);
    transform-origin: center center;
    z-index: 1;
    /* width: 20%; */
}
#health-206 {
    transform: rotate(-5deg);
    transform-origin: center center;
    z-index: 2;
    /* width: 20%; */
}
#fair-haven-206 {
    transform: rotate(0deg);
    transform-origin: center center;
    z-index: 3;
    /* width: 20%; */
}
#cash-four-206 {
    transform: rotate(0deg);
    transform-origin: center center;
    z-index: 4;
    /* width: 20%; */
}
#ebt-206 {
    transform: rotate(-5deg);
    transform-origin: center center;
    z-index: 5;
    /* width: 20%; */
}
#native-american-206 {
    transform: rotate(4deg);
    transform-origin: center center;
    z-index: 6;
    /* width: 20%; */
}
#lighthouse-point-206 {
    transform: rotate(-3deg);
    transform-origin: center center;
    z-index: 7;
    /* width: 20%; */
}
#lighthouse-206 {
    transform: rotate(-7deg);
    transform-origin: center center;
    z-index: 8;
    width: 15%;
    top: 200px;
    margin-left: 6vw;
}
#bird-206 {
    transform: rotate(4deg);
    transform-origin: center center;
    z-index: 8;
    width: 15%;
    top: 200px;
    margin-left: 30vw;
}




.beat-246a {
    height: 500px;
}

.beat-206 {
    height: 500px;
}

#step-246a-seven {
    margin-top: 200px;
    z-index: 6;
    position: relative;
    /* margin-bottom: 400px; */
}

/* @property --from {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

.counter {
    transition: --from 1s;
    counter-reset: int var(--from);
    animation: counter var(--time, 1000) forwards ease-in-out;
}

.counter::after {
    content: counter(int);
}

    @keyframes counter {
    to {
        --from: var(--to, 100);
    }
} */

#household-income, .counter {
    position: fixed !important; 
    font-family: "Patrick Hand", cursive;
    color: rgb(0, 0, 0, 1);
    font-weight: 300;
    font-size: 4vh;
    top: 50px;
    /* opacity: 0; */
}

#household-income {
    left: 10.8vw;
}
.counter {
    left: 23vw;
}

.household-opacity {
    animation: opacity-change 1s;
}

/* .household-opacity::after {
    opacity: 1;
} */

@keyframes opacity-change {
    from {opacity: 0;}
    to {opacity: 1;}
}
 */


#footer {
    height: 200px;
    font-family: "Patrick Hand", cursive;
    position: relative;
    font-size: 20px;
    margin-top: 400px;
    text-align: center;
}
